<%- include('partials/heads') -%>
    <%- include('partials/headers') -%>
        <!--PreLoader-->
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <!--PreLoader Ends-->

        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg hero-bg-dt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p class="subtitle">LOVE DOGS TH</p>
                            <h1>บอร์ดสุขภาพสุนัข</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->

        <main class="board mt-4">
            <div class="container">
                <!-- <div class="d-inline-flex">
                    <div class="p-2"
                        style="color: rgb(255, 255, 255); background-color: coral; border-radius: 15px 15px 0px 0px;">
                        <h3>ชุมชน - บอร์ด</h3>
                    </div>
                </div> -->

                <div class="shadow p-3 mb-5 bg-white rounded">
                    <!-- <div class="text-with-lines">
                        <div class="text-top">
                            <div class="title mt-2 text-center">
                                <h1>บอร์ด</h1>
                            </div>
                        </div>
                    </div> -->

                    <div class="container">
                        <!-- Control the column width, and how they should appear on different devices -->
                        <div class="row">

                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mx-auto">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <b>
                                                <h2 style="color: coral; text-align: center;">
                                                    <br>
                                                    <%= titletext %>
                                                </h2>
                                                <hr style="border-color: coral;">
                                                <p class="mt-0">คนดู(0) ความคิดเห็น(0)
                                                </p>
                                            </b>
                                        </div>
                                        <div class="shadow p-3 mb-2 bg-white rounded d-flex flex-row py-2 w-100">
                                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                                <img class="mr-3 img-fluid rounded-circle"
                                                    style="width: 150px; height: 150px;" src="../img/<%= imghead %>"
                                                    alt="Generic placeholder image">
                                                <h5 class="mt-3 mx-4">
                                                    <%= namehead %>
                                                </h5>
                                                <hr class="w-100">
                                                <p class="mx-2">เมื่อวันที่ <%= new Intl.DateTimeFormat('th-GB', {
                                                        year: 'numeric' , month: 'long' , day: '2-digit'
                                                        }).format(createdP) %>
                                                        เวลา <%= new Intl.DateTimeFormat('th-GB', { timeStyle: 'short'
                                                            }).format(createdP) %> น</p>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-xs-8 mr-auto">
                                                <img class="mr-3 img-fluid w-100 shadow-sm"
                                                    style="border-radius: 15px 15px 15px 15px;"
                                                    src="../img/<%= photo %>" alt="Generic placeholder image">
                                                <div class="details-img">
                                                    <p class="mt-2" style="color: brown;"><%- details %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- comment -->

                                <div class="container mt-5">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            ความคิดเห็น
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group" id="comment-list">
                                                <!-- รายการความคิดเห็นจะถูกเพิ่มที่นี่ -->
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">John Doe</h5>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">10 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">Jane Smith</h5>
                                                                Nullam tincidunt urna sed justo efficitur, vel luctus
                                                                justo
                                                                bibendum.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">30 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </ul>
                                            <form id="comment-form">
                                                <div class="form-group  mt-2">
                                                    <textarea class="form-control" id="comment" rows="4"
                                                        placeholder="ป้อนความคิดเห็นของคุณ"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">ส่งความคิดเห็น</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
        </main>

        <%- include('partials/footers') -%>