<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <title>บอร์ดสุขภาพสุนัข</title>

    <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<%- include('partials/heads') -%>
<%- include('partials/headers') -%>
<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg hero-bg1">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p class="subtitle">LOVE DOGS TH</p>
							<h1>บอร์ดสุขภาพสุนัข</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<!-- <div class="bg-image"> -->
    <br><br><br>
    <!-- latest news -->
	<div class="container">
        <% if(levelS > 0) { %>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <a href="/boardhealthAdd">
                            <ul>
                                <li class="active" data-filter="*" style="width: 90%;" >สร้างคำถาม</li>
                            </ul>
                        </a>
                        
                    </div>
                </div>
            </div>

        <% } %>
        <!-- Control the column width, and how they should appear on different devices -->
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mx-auto">
                <div class="container">
                    <% if(data.length) { %>
                    <h5><span class="underline mt-2" style="font-size: large;"> >บอร์ดสุขภาพล่าสุด </span></h5>

                        <% for(let i=0; i < data.length; i++) { %>
                                <div class="row justify-content-start mt-2 mb-2 list-post">
                                    <a href="/boardhealthDetail/<%= data[i].boardhealth_id %>">
                                    <div class="shadow p-3 mb-2 bg-white rounded d-flex flex-column d-sm-flex flex-sm-row py-2 col-lg-12 col-sm-12 col-xs-12" style="background-color: aqua;">
                                        <div class="col-lg-8 col-sm-8 col-xs-8 align-content-center im-post">
                                            <img class="img-fluid latest-news-bg" style=" height: 100px; width: 200px;" src="img/<%= data[i].photo %>" alt="Generic placeholder image">
                                        </div>
                                    </a>
                                        <div class="col-lg-8 col-sm-8 col-xs-8 mr-auto text-ti">
                                            <a href="/boardhealthDetail/<%= data[i].boardhealth_id %>">
                                            <h5 class="mt-3 text-title"><%= data[i].title %></h5>
                                            </a>
                                            <div class="text-date">
                                            <p><i class="fas fa-calendar-week"></i> เมื่อ <%= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(data[i].created_at) %> <br><i class="fas fa-eye"></i> (<%= data[i].view %>) <i class="fas fa-comments"></i> (0) จาก
                                            คุณ <%= data[i].username %></p>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-2 col-sm-2 col-xs-2">
                                            <p><%= new Intl.DateTimeFormat('th-GB').format(data[i].created_at) %></p>
                                            <p><%= new Intl.DateTimeFormat('th-GB', { timeStyle: 'medium'}).format(data[i].created_at) %> น.</p>
                                            <p>ดู <%= data[i].view %></p>
                                        </div> -->
                                    </div>
                                    <!-- <a type="button" style="color: rgb(255, 255, 255); background-color: #F28123;" class="btn btn-lg btn-block mb-2" href="/boardhealthDetail/<%= data[i].boardhealth_id %>">รายละเอียด</a> -->
                                </div>
                                <hr class="line1">
                        <% } %>

                    </div>
                    <% } %>

                    <% if(!data.length) { %>
                        <p class="text-center">ไม่พบข้อมูล</p>
                    <% } %>

            
                </div>
            </div>
        </div>

        <!-- number page -->
        <div class="row">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap mb-5">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- number page -->

        <!-- new list -->
        <!-- <div class="container d-flex justify-content-center">
            <div class="list">
                <div class="list-item">
                    <div class="row justify-content-start">
                            <div class="list-item-title">
                                <img src="img/<%= data[18].photo %>" alt="Generic placeholder image">
                            </div>
                            <div class="list-item-content-name">
                                <span>Bernard Romin Ltd</span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>  
                            </div>
                            <div class="time-left">
                                <p>1/1/24</p>
                            </div>
                    </div>
                </div>    
            </div>    
        </div>   -->
         <!-- new list -->      

    </div> 
<!-- </div> -->
	<!-- end latest news -->
    <%- include('partials/footers') -%>
    
</body>
</html>