<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <title>บอร์ดชุมชน</title>

    <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<%- include('partials/heads') -%>
<%- include('partials/headers') -%>
<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg hero-bg-cm">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p class="subtitle">LOVE DOGS TH</p>
							<h1>บอร์ด</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

   	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

            <% if(levelS > 0) { %>
        
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
								<a href="/boardAdd">
                                <li class="active" data-filter="*" style="width: 90%;">สร้างบทความ</li>
								</a>
                            </ul>
                        </div>
                    </div>
                </div>
    
            <% } %>

			<div class="row product-lists">
				<% for(let i=0; i < data.length; i++) { %>
					<div class="col-lg-4 col-md-6">
						<div class="single-latest-news" >
							<a href="/boardDetail/<%= data[i].communityboard_id %>"><div class="latest-news-bg" style="background-image: url(img/<%= data[i].photo %>)"></div></a>
							<div class="news-text-box">
								<a href="/boardDetail/<%= data[i].communityboard_id %>">
								<h3 class="text-title"><%= data[i].title %></h3>
								</a>
								<p class="blog-meta mt-2">
									<span class="author"><i class="fas fa-user"></i> <%= data[i].username %></span>
									<span class="date"><i class="fas fa-calendar"></i> <%= new Intl.DateTimeFormat('th-GB').format(data[i].created_at)%></span>
								</p>
								<p class="excerpt"></p>
								<a href="/boardDetail/<%= data[i].communityboard_id %>" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				<% } %>
			</div>		

			<!-- <div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- end products -->

	<%- include('partials/footers') -%>

    
</body>
</html>