<%- include('partials/heads') -%>
<%- include('partials/headers') -%>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg hero-bg-dt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p class="subtitle">LOVE DOGS TH</p>
                        <h1>บอร์ดสุขภาพสุนัข</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
        <main class="board mt-5">
            <div class="container">

                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="text-with-lines">
                        <div class="text-top">
                            <div class="title mt-2 text-center">
                                <h2>ปัญหาน้องสุนัข</h2>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <!-- Control the column width, and how they should appear on different devices -->
                        <div class="row">

                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 mx-auto">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <b>
                                                <h4 style="color: coral;"><%= titletext %></h4>
                                                <hr style="border-color: coral;">
                                               
                                            </b>
                                        </div>
                                        <div class="shadow p-3 mb-2 bg-white rounded d-flex flex-row py-2 w-100">
                                            <div class="col-lg-3 col-sm-3 col-xs-3">
                                                <img class="mr-3 img-fluid rounded-circle img-mini"
                                                    style="width: 150px; height: 150px;" src="../img/<%= imghead %>"
                                                    alt="Generic placeholder image">
                                                <h5 class="mt-3 mx-4 name-user"><%= namehead %></h5>
                                                <hr class="w-100">
                                                <p class="mx-2"><i class="fas fa-calendar-week"></i> เมื่อวันที่ <%= new Intl.DateTimeFormat('th-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(createdP) %>
                                                    เวลา <%= new Intl.DateTimeFormat('th-GB', { timeStyle: 'short'}).format(createdP) %> น</p>
                                                    <p class="mt-0 ml-2"><i class="fas fa-eye"></i> (0) <i class="fas fa-comments"></i> (0)
                                                    </p>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-xs-8 mr-auto">
                                                <img class="mr-3 img-fluid w-100 shadow-sm" style="border-radius: 15px 15px 15px 15px;" src="../img/<%= photo %>"
                                                    alt="Generic placeholder image">
                                                <p class="mt-2"><%- details %></p>
                                            </div>
                                            
                                        </div>
                                        <button id="myButton" value="" class="btn btn-sm btn-outline-primary ml-2" style="background: coral;color: white; border-color: coral;">ถูกใจ</button>
                                        <p id="counter">จำนวนการถูกใจทั้งหมด</p>
                                    </div>


                                </div>
                                <!-- comment -->

                                <div class="container mt-5">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            ความคิดเห็น
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group" id="comment-list">
                                                <!-- รายการความคิดเห็นจะถูกเพิ่มที่นี่ -->
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">John Doe</h5>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">10 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="media">
                                                            <img src="https://via.placeholder.com/64" class="mr-3"
                                                                alt="User Image" style="width: 64px;">
                                                            <div class="media-body">
                                                                <h5 class="mt-0">Jane Smith</h5>
                                                                Nullam tincidunt urna sed justo efficitur, vel luctus
                                                                justo
                                                                bibendum.
                                                                <div class="mt-2">
                                                                    <small class="text-muted">30 นาทีที่แล้ว</small>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-primary ml-2">ถูกใจ</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </ul>
                                            <form id="comment-form">
                                                <div class="form-group  mt-2">
                                                    <textarea class="form-control" id="comment" rows="4"
                                                        placeholder="ป้อนความคิดเห็นของคุณ"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">ส่งความคิดเห็น</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
        </main>

        <%- include('partials/footers') -%>

        <script>
            const button = document.getElementById('myButton');
            button.addEventListener('click', function(e) {
            console.log('button was clicked');
            fetch('/clicked/<%- id %>', {method: 'POST'})
                .then(function(response) {
                if(response.ok) {
                    console.log('click was recorded');
                    return;
                }
                throw new Error('Request failed.');
                })
                .catch(function(error) {
                console.log(error);
                });
            });
    
            setInterval(function() {
            fetch('/clicks/<%- id %>', {method: 'GET'})
                .then(function(response) {
                if(response.ok) return response.json();
                throw new Error('Request failed.');
                })
                .then(function(data) {
                document.getElementById('counter').innerHTML = `จำนวนการถูกใจทั้งหมด ${data.length} คน`;
                })
                .catch(function(error) {
                console.log(error);
                });
            }, 1000);
        </script>