<%- include('partials/heads') -%>
	<%- include('partials/headers') -%>

		<body>
			<!-- breadcrumb-section -->
			<div class="breadcrumb-section hero-edit-profile">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="breadcrumb-text">
								<p>ยินดีต้อนรับ</p>
								<h1>จัดการพอยท์</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">พอยท์ </span>| POINT</h3>
						<h4>จำนวนพอยท์คงเหลือ : <%= pointShow[0].point.toLocaleString('en-US') %> </h4>
						<input type="number" id="point" value="<%= pointShow[0].point %>" hidden>
					</div>
				</div>
			</div>
			<% if (messages.success) { %>
				<div class="alert alert-success" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<%= messages.success %>
				</div>
			<% } %>
			<% if (messages.error) { %>
				<div class="alert alert-danger" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<%= messages.error %>
				</div>
			<% } %>

			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>โปรโมทอันดับ | ร้านค้า</h2>
						<p>*หมายเหตุ</p>
						<p>- ไม่สามารถโปรโมท/โฆษณา ที่โปรโมทอันดับอยู่ </p>
						<p>- สูตรคำนวณจะนำเอาจำนวนพอทย์และจำนวนวันที่เลือกมาหารเพื่อเฉลี่ยพอทย์ต่อวัน โดยโพสโปรโมทร้านค้าที่จำนวนโปรโมทต่อวันมากที่สุดจะได้ขึ้นก่อน </p>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form action="/boostAdd" method="post" id="fruitkha-contact" onSubmit="return confirm('คุณยืนยันที่จะ โปรโมทอันดับ | ร้านค้า ใช่หรือไม่?') ">
							<div class="form-group">
								<p><h5>เลือกโฆษณา</h5></p>
								<select class="" id="exampleFormControlSelect1" name="shop_id" required
								style="
									width: 100%;
									padding: 15px;
									border: 1px solid #ddd;
									border-radius: 3px;
								">
								  <!-- <option> เลือกโฆษณา </option> -->
								  <% for(let i=0; i < shop.length; i++)  { %>
									<% if(shop[i].boost == 0){ %>
										<option value="<%= shop[i].shop_id%>"><%= shop[i].title%></option>
									<% } %>
								  <% }%>
								</select>
							</div>
							<span id='message'></span>
							<p class="d-flex justify-content-between">
								<input type="number" placeholder="จำนวนพอยท์" name="money" id="money" min="0" max="<%= pointShow[0].point%>" onkeyup='check();' required>
								<input type="number" placeholder="จำนวนวันที่ต้องการโปรโมท" name="numday" id="numday" style="width: 49.25%;" required>
							</p>
							<p id='submitForm'><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> จัดการพอยท์</h4>
							<p>
								<a href="/point" class="org">เติมพอยท์</a><br> 
								<% if (levelS > 2) { %>
									<a href="/pointOut" class="org">ถอนพอยท์</a><br> 
                                <% } %>
								<a href="/boost" class="org">Boost Shop</a><br> 
								<a href="/historyPoint" class="org">ประวัติพอยท์</a><br> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->
	<script>
		var check = function() {
			let point = parseInt(document.getElementById('point').value);
			let money = parseInt(document.getElementById('money').value);
		  if (money > point)  {
			console.log("มากกว่า point");
			console.log(money+" > "+point);
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'จำนวนพอยท์ไม่เพียงพอ';
			document.getElementById('submitForm').innerHTML = `<input type="submit" value="Submit" disabled>`;
		  } else if (money <= 0){
			console.log("น้อยกว่าเท่ากับ 0");
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'กรุณาตรวจสอบจำนวนพอยท์';
			document.getElementById('submitForm').innerHTML = `<input type="submit" value="Submit" disabled>`;
		  } else if (money == point){
			console.log("เท่ากับ point");
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = '';
			document.getElementById('submitForm').innerHTML = `<input type="submit" value="Submit">`;
		  } else if (money < point){
			console.log("น้อยกว่า point");
			console.log(money+" < "+point);
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = '';
			document.getElementById('submitForm').innerHTML = `<input type="submit" value="Submit">`;
		  } 
		  
		}
	  </script>

			<%- include('partials/footers') -%>

		</body>

		</html>