<%- include('partials/heads') -%>
    <%- include('partials/headers') -%>
    
        <!--PreLoader-->
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <!--PreLoader Ends-->

        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg hero-bg-dt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p class="subtitle">LOVE DOGS TH</p>
                            <h1>ร้านค้า</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->
        
        <main class="board mt-5">
            <div class="container">

                    <main class="board mt-4">
                        <% if (messages.error) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= messages.error %>
                            </div>
                            <% } %>
                                <div class="container">
                                    <!-- <div class="d-inline-flex">
                                        <div class="p-2"
                                            style="color: rgb(255, 255, 255); background-color: coral; border-radius: 15px 15px 0px 0px;">
                                            <h3>บอร์ดสุขภาพสุนัข</h3>
                                        </div>
                                    </div> -->
                                    <div class="shadow p-3 mb-5 pb-5 bg-white rounded">
                                        <div class="text-with-lines d-flex justify-content-center">
                                            <div class="text-top">
                                                <div class="title mt-2">
                                                    <h3>แก้ไขร้านค้า</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <hr width="100%">
                                        <div class="container">
                                            <!-- Control the column width, and how they should appear on different devices -->
                                            <div class="row">
                                                <div class="col-sm-3 mx-auto">
                                                    <button type="button" class="btn btn-warning col-sm-12 mt-2"
                                                        style="color: #ffffff; background-color: coral;">ประวัติการโพสต์</button>
                                                        
                                                </div>
                                                <div class="col-sm-9 mx-auto mt-auto">
                                                    <div class="container">
                                                        <form action="/editShopAdd/<%= data[0].shop_id %>" method="post">
                                                            <div class="form-group">
                                                                <label for="titleboard">หัวข้อ</label>
                                                                <input type="text" class="form-control" id="titleboard"
                                                                    name="titleboard" value="<%= data[0].title %>"
                                                                    required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="image">รูปภาพประกอบ</label><br>
                                                                <img id="output" class="border" src="../img/<%= data[0].photo %>" alt="" width="100%" height="500px">
                                                                <div class="text-right mt-3">
                                                                    <a href="/editShopIMG/<%= data[0].shop_id %>" class="boxed-btn">แก้ไขรูปภาพประกอบ</a>
                                                                </div>
                                                            </div>

                                                            <p>รายละเอียด</p>
                                                            <div id="quill_editor">
                                                                <div id="myText"></div>
                                                            </div>

                                                            <input type="hidden" id="quill_html" name="details" value="<%- data[0].details %>"></input>
                                                            
                                                            <br>
                                                            <button type="submit"
                                                                class="btn btn-warning btn-lg btn-block"
                                                                style="color: #ffffff; background-color: coral;">ยืนยัน</button>
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                
                    </main>             
            </div>
        </main>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script>
            var textToStore = '<%- data[0].details %>';
            var myTextElement = document.getElementById("myText");
            myTextElement.innerHTML = textToStore;

            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],
                ['link', 'image'],
                ['clean']                                         // remove formatting button
            ];

            var quill = new Quill('#quill_editor', {
                modules: {
                toolbar: toolbarOptions
            },
                theme: 'snow'
            });

            quill.on('text-change', function (delta, oldDelta, source) {
                document.getElementById("quill_html").value = quill.root.innerHTML;
            });
        </script>


        <!-- แสดงรูปตัวอย่าง -->
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };
        </script>



        <%- include('partials/footers') -%>
