<%- include('partials/heads') -%>
	<%- include('partials/headers') -%>

		<body>
			<!-- breadcrumb-section -->
			<div class="breadcrumb-section breadcrumb-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="breadcrumb-text">
								<p>ยินดีต้อนรับ</p>
								<h1>แก้ไขข้อมูลยืนยันผู้ใช้</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end breadcrumb section -->

			<!-- check out section -->
			<div class="checkout-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="checkout-accordion-wrap">
								<div class="accordion" id="accordionExample">
								
									<div class="card single-accordion">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse"
													data-target="#collapseOne" aria-expanded="true"
													aria-controls="collapseOne">
													ข้อมูลยืนยันผู้ใช้
												</button>
											</h5>
										</div>
										
										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="billing-address-form">
													<form action="/editUserVerifiedSubmit" method="post">
														<% if (messages.success) { %>
															<div class="alert alert-success" role="alert"><%= messages.success %></div>
														  <% } %>
														  <% if (messages.error) { %>
															<div class="alert alert-danger" role="alert"><%= messages.error %></div>
														  <% } %>
														
														  <label for="fname">เลขบัตรประชาชน (13หลักไม่เติม - ) :</label>
														  <p><input type="text" placeholder="xxxxxxxxxxxxxx" id="typeid_card" name="id_card" minlength="13" maxlength="13" value="<%= id_card %>" required disabled></p>
														  <label for="typeaddress">ที่อยู่ :</label>
														  <p><textarea name="address" id="bill" cols="30" rows="10" placeholder="Address" required><%= address %></textarea></p>
														  <label for="fname">เบอร์โทรศัพท์ :</label>
														  <p><input type="tel" placeholder="tel." id="typetel" name="tel" minlength="10" maxlength="10" value="<%= tel %>" required></p>
														  <label for="fname">FaceBook :</label>
														  <p><input type="text" placeholder="FaceBook" id="typefacebook" name="facebook" value="<%= facebook %>" required></p>
														  <label for="fname">Line :</label>
														  <p><input type="text" placeholder="Line" id="typeline" name="line" value="<%= line %>" required></p>

														<button type="submit" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;">ยืนยัน</button>
														<input type="button" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;" onclick="history.back();" value="ยกเลิก">
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="order-details-wrap">
								<table class="order-details">
									<thead>
										<tr>
											<th>Your order Details</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody class="order-details-body">
										<tr>
											<td>Product</td>
											<td>Total</td>
										</tr>
										<tr>
											<td>Strawberry</td>
											<td>$85.00</td>
										</tr>
										<tr>
											<td>Berry</td>
											<td>$70.00</td>
										</tr>
										<tr>
											<td>Lemon</td>
											<td>$35.00</td>
										</tr>
									</tbody>
									<tbody class="checkout-details">
										<tr>
											<td>Subtotal</td>
											<td>$190</td>
										</tr>
										<tr>
											<td>Shipping</td>
											<td>$50</td>
										</tr>
										<tr>
											<td>Total</td>
											<td>$240</td>
										</tr>
									</tbody>
								</table>
								<!-- <a href="#" class="boxed-btn">Place Order</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end check out section -->

			<script>
				var loadFile = function (event) {
					var output = document.getElementById('output');
					output.src = URL.createObjectURL(event.target.files[0]);
					output.onload = function () {
						URL.revokeObjectURL(output.src) // free memory
					}
				};
			</script>

			<%- include('partials/footers') -%>

		</body>

		</html>