<%- include('partials/heads') -%>
	<%- include('partials/headers') -%>

		<body>
			<!-- breadcrumb-section -->
			<div class="breadcrumb-section hero-edit-profile">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="breadcrumb-text">
								<p>ยินดีต้อนรับ</p>
								<h1>แก้ไขข้อมูลผู้ใช้ รูปโปรไฟล์</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end breadcrumb section -->

			<!-- check out section -->
			<div class="checkout-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="checkout-accordion-wrap">
								<div class="accordion" id="accordionExample">
									<div class="card single-accordion">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse"
													data-target="#collapseOne" aria-expanded="true"
													aria-controls="collapseOne">
													ข้อมูลผู้ใช้
												</button>
											</h5>
										</div>

										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="billing-address-form">
													<form action="/editProfileSubmit" method="post" enctype="multipart/form-data">
														<div class="client-avater text-center">
															<img id="output" class="border" src="../img/<%= img %>" alt=""  style="aspect-ratio: 1;object-fit: cover;" width="140" height="140">
															<div class="client-meta">
															</div>
															<label for="image">รูปโปรไฟล์</label><br>
                                                        	<input type="file" accept="image/*" onchange="loadFile(event)" name="photo" required>
														</div>
														<button type="submit" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;">ยืนยัน</button>
														<input type="button" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;" onclick="history.back();" value="ยกเลิก">
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<%- include('partials/manuEdit') -%>
					</div>
				</div>
			</div>
			<!-- end check out section -->

			<script>
				var loadFile = function (event) {
					var output = document.getElementById('output');
					output.src = URL.createObjectURL(event.target.files[0]);
					output.onload = function () {
						URL.revokeObjectURL(output.src) // free memory
					}
				};
			</script>

			<%- include('partials/footers') -%>

		</body>

		</html>