<%- include('partials/heads') -%>
	<%- include('partials/headers') -%>
	<style>
		.valid { color: #03d348 !important; }
		.invalid { color: #d91111 !important; }
	  </style>
		<body>
			<!-- breadcrumb-section -->
			<div class="breadcrumb-section breadcrumb-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="breadcrumb-text">
								<p>ยินดีต้อนรับ</p>
								<h1>แก้ไขข้อมูลสุนัข รูปโปรไฟล์</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end breadcrumb section -->

			<!-- check out section -->
			<div class="checkout-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="checkout-accordion-wrap">
								<div class="accordion" id="accordionExample">
									<div class="card single-accordion">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse"
													data-target="#collapseOne" aria-expanded="true"
													aria-controls="collapseOne">
													รหัสผ่าน กรุณาใส่รหัสผ่านปัจจุบันของคุณ
												</button>
											</h5>
										</div>

										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="billing-address-form">
													<form action="/editMyPass" method="post">
														  <% if (messages.success) { %>
															<div class="alert alert-success" role="alert"><%= messages.success %></div>
														  <% } %>
														  <% if (messages.error) { %>
															<div class="alert alert-danger" role="alert"><%= messages.error %></div>
														  <% } %>
														<label for="passOld">รหัสผ่านปัจจุบัน :</label>
														<p><input type="password" placeholder="***********" id="passOld" name="passOld"  required></p>
														<label for="passNew">รหัสผ่านใหม่ : <span id='message'></span></label>
														<p><input type="password" placeholder="***********" id="password" name="password" onkeyup='check();' required></p>
														<label for="passNew">ยืนยันรหัสผ่าน : <span id='message2'></span></label>
														<p><input type="password" placeholder="***********" id="confirmpassword" name="confirmpassword" onkeyup='check();' required></p>
														<section>
															<div>
																รหัสผ่านควรมีอย่างน้อย 
																<span id="length" class="invalid">8 ตัวอักษร</span>,
																<span id="capital" class="invalid">ตัวพิมพ์ใหญ่ 1 ตัว</span>,
																<span id="letter" class="invalid">ตัวพิมพ์เล็ก 1 ตัว</span>,
																<span id="number" class="invalid">ตัวเลข 1 ตัว</span>, และ
																<span id="character" class="invalid">อักขระพิเศษ 1 ตัว</span>
															  </p>
															</div>
														</section>
														<br>
														<p id='submitForm'><button type="submit" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;">ยืนยัน</button></p>
														<input type="button" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;" onclick="history.back();" value="ยกเลิก">
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<%- include('partials/manuEdit') -%>
					</div>
				</div>
			</div>
			<!-- end check out section -->
			<script>
				document.addEventListener("DOMContentLoaded", function(event) {
					var password = document.getElementById("password");
					var letter = document.getElementById("letter");
					var capital = document.getElementById("capital");
					var number = document.getElementById("number");
					var length = document.getElementById("length");
					var character = document.getElementById("character");
					var lowerCaseLetters = /[a-z]+/;
					var upperCaseLetters = /[A-Z]+/;
					var numbers = /[0-9]+/;
					var characters = /[-!$%^&*()_+|~=`{}\[\]:";'<>?,.\/]+/;
					var remClass, addClass;
					
					valid = (req, state) => {
						remClass = state ? "invalid" : "valid";
						addClass = state ? "valid" : "invalid";
						req.classList.remove(remClass);
						req.classList.add(addClass);
					}

					password.onkeyup = () => {
						// Validate lowercase letters
						lowerCaseLetters.test(password.value) ? valid(letter, true) : valid(letter, false);
						// Validate capital letters
						upperCaseLetters.test(password.value) ? valid(capital, true) : valid(capital, false);
						// Validate numbers
						numbers.test(password.value) ? valid(number, true) : valid(number, false);
						// Validate characters
						characters.test(password.value) ? valid(character, true) : valid(character, false);
						// Validate length
						password.value.length >= 8 ? valid(length, true) : valid(length, false);
					}
				})
			</script>
			<script>
				var check = function() {
				  if (document.getElementById('password').value ==
					document.getElementById('confirmpassword').value) {
					document.getElementById('message').style.color = 'green';
					document.getElementById('message').innerHTML = '';
					document.getElementById('message2').style.color = 'green';
					document.getElementById('message2').innerHTML = '';
					document.getElementById('submitForm').innerHTML = `<button type="submit" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;">ยืนยัน</button>`;
				  } else {
					document.getElementById('message').style.color = 'red';
					document.getElementById('message').innerHTML = 'รหัสผ่านไม่ตรงกัน';
					document.getElementById('message2').style.color = 'red';
					document.getElementById('message2').innerHTML = 'รหัสผ่านไม่ตรงกัน';
					document.getElementById('submitForm').innerHTML = `<button type="submit" class="btn btn-dark btn-lg btn-block" style="color: #ffffff; background-color: coral;" disabled>ยืนยัน</button>`;
				  }
				}
			</script>
			<script>
				var loadFile = function (event) {
					var output = document.getElementById('output');
					output.src = URL.createObjectURL(event.target.files[0]);
					output.onload = function () {
						URL.revokeObjectURL(output.src) // free memory
					}
				};
			</script>

			<%- include('partials/footers') -%>

		</body>

		</html>