<%- include('partials/heads') -%>
	<%- include('partials/headers') -%>

		<body>
			<!-- breadcrumb-section -->
			<div class="breadcrumb-section hero-edit-profile">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="breadcrumb-text">
								<p>ยินดีต้อนรับ</p>
								<h1>จัดการพอยท์</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">พอยท์ </span>| POINT</h3>
						<h4>จำนวนพอยท์คงเหลือ : <%= pointShow[0].point.toFixed(2) %></h4>
					</div>
				</div>
			</div>
			<% if (messages.success) { %>
				<div class="alert alert-success" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<%= messages.success %>
				</div>
			<% } %>
			<% if (messages.error) { %>
				<div class="alert alert-danger" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<%= messages.error %>
				</div>
			<% } %>
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>ถอนพอยท์ สำหรับผู้เชี่ยวชาญ</h2>
						<p>*หมายเหตุ</p>
						<p>- อัตราแลกเปลี่ยนจำนวนพอยท์ 1 : 1 บาท </p>
						<p>- หลังจากแจ้งการถอนพอยท์ กรุณารอการตรวจสอบจากเจ้าหน้าที่ 1 - 2  วัน </p>
					</div>

				 	<div id="form_status"></div>
					<div class="contact-form">
						<form action="/pointOutAdd" method="post" id="fruitkha-contact">
							<div class="form-group">
								<p><h5>ธนาคารผู้รับ</h5></p>
								<select class="" id="exampleFormControlSelect1" name="bank" required
								style="
									width: 98.5%;
									padding: 15px;
									border: 1px solid #ddd;
									border-radius: 3px;
								">
								  <option> -- เลือกธนาคาร -- </option>
								  <option value="ธนาคารกรุงเทพ">ธนาคารกรุงเทพ</option>
								  <option value="ธนาคารกสิกรไทย">ธนาคารกสิกรไทย</option>
								  <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>
								  <option value="ธนาคารทหารไทย">ธนาคารทหารไทย</option>
								  <option value="ธนาคารไทยพาณิชย์">ธนาคารไทยพาณิชย์</option>
								</select>
							</div>
							<p>
								<input type="text" placeholder="เลขที่บัญชี" name="account_number" id="account_number" maxlength="10" required>
								<input type="text" placeholder="ชื่อบัญชี" name="name" id="name" required>
							</p>
							<p>
								<input type="number" placeholder="จำนวนพอยท์" name="money" id="money" min="0" max="<%= pointShow[0].point%>" style="width: 98.5%;" required>
								<input type="text" hidden>
							</p>
							<p><input type="submit" value="ยืนยัน" class="cart-buttons"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> จัดการพอยท์</h4>
							<p>
								<a href="/point" class="org">เติมพอยท์</a><br> 
								<% if (levelS > 2) { %>
									<a href="/pointOut" class="org">ถอนพอยท์</a><br> 
                                <% } %>
								<a href="/boost" class="org">Boost Shop</a><br> 
								<a href="/historyPoint" class="org">ประวัติการเติมพอยท์</a><br> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->


			<%- include('partials/footers') -%>
			<script>
				var loadFile = function (event) {
					var output = document.getElementById('output');
					output.src = URL.createObjectURL(event.target.files[0]);
					output.onload = function () {
						URL.revokeObjectURL(output.src) // free memory
					}
				};
			</script>
		</body>

		</html>