<%- include('partials/heads') -%>
<%- include('partials/headers') -%>
<body>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>ยินดีต้อนรับ</p>
						<h1>สมัครสมาชิก</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-0 mb-lg-0">
					<div class="form-title">
						<h2>Register</h2>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
            <% if (messages.success) { %>
              <div class="alert alert-success" role="alert"><%= messages.success %></div>
            <% } %>
            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert"><%= messages.error %></div>
            <% } %>
            <form action="/register/add" method="post">
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email" value="<%= email %>" autocomplete="off" required />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
              
              <div class="form-outline mb-4">
                <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="username" value="<%= username %>" autocomplete="off" required/>
                <label class="form-label" for="typeEmailX-2">User Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="fname" value="<%= fname %>" autocomplete="off" required/>
                <label class="form-label" for="typeEmailX-2">First Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="sname" value="<%= sname %>" autocomplete="off" required/>
                <label class="form-label" for="typeEmailX-2">Last Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" name="password" value="<%= password %>" autocomplete="off" onkeyup='check();' required/>
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <div class="form-outline mb-4">
                <span id='message'></span>
                <input type="password" id="confirmpassword" class="form-control form-control-lg" name="confirmpassword" value="<%= confirmpassword %>" autocomplete="off" onkeyup='check();' required/>
                <label class="form-label" for="typePasswordX-2">Confirm Password</label>
              </div>
            <br><br>
              <!-- Checkbox -->
              <button class="btn btn-lg btn-block" type="submit" style="color: #ffffff; background-color: coral;">Register</button>
              <!-- <p>Have already an account?<a href="/login">Login</a></p> -->

              <hr class="my-4">
            </form>
					</div>
				</div>
        
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> มีบัญชีแล้ว</h4>
							<p><a href="/login" class="coloraaa">เข้าสู่ระบบ</a></p>
						</div>
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> ลืมรหัสผ่านใช่หรือไม่</h4>
							<p><a href="" class="coloraaa">ลืมอีเมล</a></p>
              <p><a href="" class="coloraaa">ลืมรหัสผ่าน</a></p>
						</div>
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contact</h4>
							<p>Phone: +00 111 222 3333 <br> Email: Aksadath_ru64@live.rmutl.ac.th</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    var check = function() {
      if (document.getElementById('password').value ==
        document.getElementById('confirmpassword').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = '';
      } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'กรุณาตรวจสอบรหัสผ่านอีกครั้ง';
      }
    }
  </script>

  <%- include('partials/footers') -%>
	
</body>
</html>