<%- include('partials/heads') -%>
<%- include('partials/headers') -%>
<body>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg hero-bg-shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p class="subtitle">LOVE DOGS TH</p>
							<h1>ร้านค้า</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

   	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

            <% if(levelS > 1) { %>
				<% if (messages.success) { %>
					<div class="alert alert-success" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<%= messages.success %>
					</div>
				<% } %>
				<% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= messages.error %>
                    </div>
                <% } %>
        
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
								<a href="shopDetailAdd">
                                <li class="active" data-filter="*" style="width: 90%;">สร้างโฆษณา</li>
								</a>
                            </ul>
                        </div>
                    </div>
                </div>
    
            <% } %>
			<div class="row product-lists">
			<% for(let i=0; i < data.length; i++) { %>
				
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/shopDetail/<%= data[i].shop_id %>"><img src="../img/<%= data[i].photo %>" alt="" class="img-pro"></a>
						</div>
						<h3><%= data[i].title%></h3>
						<p class="blog-meta mt-2">
							<span class="author"><i class="fas fa-store"></i> <%= data[i].shop_name %></span><br>
							<span class="author"><i class="fas fa-eye"></i> (<%= data[i].view %>)</span>
							<span class="date"><i class="fas fa-calendar"></i> <%= new Intl.DateTimeFormat('th-GB').format(data[i].created_at)%></span>
						</p>
						<a href="/shopDetail/<%= data[i].shop_id %>" class="cart-btn"><i class="fas fa-arrow-circle-right"></i> เพิ่มเติม</a>
					</div>
				</div>
			<% } %>
			</div>

			<!-- <div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- end products -->

</body>
<%- include('partials/footers') -%>
</html>