<%- include('partials/heads') -%>
<%- include('partials/headers') -%>
<body>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>ยินดีต้อนรับ</p>
						<h1>ข้อมูลผู้ใช้</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						
						<div class="accordion" id="accordionExample">

							<% if(levelS == 1) { %>
								<% if(rowsVerified.length <= 0) { %>
									<div class="alert alert-primary" role="alert">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>อยากโฆษณาร้านค้าของคุณ!</strong> ส่งข้อมูลเพื่อยืนยันเพื่อโฆษณากับเรา <a href="/userVerified">คลิกเลย!</a> 
									</div>
								<% } else { %>	
									<% if(rowsVerified[0].status == 0) { %>
										<div class="alert alert-primary" role="alert">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<strong>กำลังรอการตรวจสอบการยืนยันผู้ใช้จาก ผู้ดูแลระบบ!</strong></a> 
										</div>
									<% } %>	
								<% } %>	
							<% } %>

							<% if(levelS < 3 ) { %>
								<div class="alert alert-info" role="alert">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<strong>หากคุณเป็นผู้เชี่ยวชาญ รวมตอบปัญหาสุขภาพกับเรา!</strong> ส่งข้อมูลเพื่อยืนยัน <a href="/userVets">คลิกเลย!</a> 
								</div>
							<% } %>

							<% if (messages.success) { %>
								<div class="alert alert-success" role="alert">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<%= messages.success %>
								</div>
							<% } %>
							<% if (messages.error) { %>
								<div class="alert alert-danger" role="alert">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<%= messages.error %>
								</div>
							<% } %>

								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item">
									<a class="nav-link text-secondary active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ข้อมูลผู้ใช้</a>
									</li>
									<% if(levelS != 1) { %>
										<% if(rowsVerified.length >= 1) { %>
									<li class="nav-item">
									<a class="nav-link text-secondary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ข้อมูลยืนยันผู้ใช้</a>
									</li>
										<% } %>
									<% } %>
									<% if(levelS >= 2) { %>
									<li class="nav-item">
									<a class="nav-link text-secondary" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">ข้อมูลสุนัข</a>
									</li>
									<% } %>
									<% if(levelS >= 2) { %>
									<li class="nav-item">
										<a class="nav-link text-secondary" id="shop-tab" data-toggle="tab" href="#shop" role="tab" aria-controls="shop" aria-selected="false">ข้อมูลร้านค้า</a>
									</li>
									<% } %>
									<% if(levelS >= 3) { %>
										<% if(rowsVets.length >= 1) { %>
									<li class="nav-item">
										<a class="nav-link text-secondary" id="vets-tab" data-toggle="tab" href="#vets" role="tab" aria-controls="vets" aria-selected="false">สัตวแพทย์</a>
									</li>
										<% } %>
									<% } %>
								</ul>
							  <div class="tab-content" id="myTabContent">

								<!-- ข้อมูลผู้ใช้ เปิด-->
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									<div class="card single-accordion">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												ข้อมูลผู้ใช้
												</button>
											</h5>
										</div>
		
										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
											<div class="card-body">
												<div class="billing-address-form">
													<form action="#">
														<div class="client-avater text-center">
															<img src="../img/<%= img %>" alt="" width="140" height="140">
															<div class="client-meta">
																<a href="editProfile">
																	<h3><span>เปลี่ยนรูปโปรไฟล์</span></h3>
																</a>
															</div>
														</div>
														
														<label for="typefname">ชื่อ :</label>
														<p><input type="text" placeholder="First name" id="typefname" name="fname" value="<%= fname %>" disabled></p>
														<label for="fname">นามสกุล :</label>
														<p><input type="text" placeholder="Last Name" id="typelname" name="lname" value="<%= lname %>" disabled></p>
														<label for="fname">อีเมล :</label>
														<p><input type="email" placeholder="Email" id="typeEmail" name="email" value="<%= email %>" disabled></p>
														<label for="fname">ชื่อที่ใช้แสดง :</label>
														<p><input type="text" placeholder="Show Name" id="typeusername" name="username" value="<%= username2 %>" disabled></p>
														<label for="fname">เพศ :</label>
														<p><input type="text" placeholder="Gender" id="typegender" name="gender" value="<%= gender %>" disabled></p>
														<label for="fname">วันเกิด :</label>
														<p><input type="date" placeholder="Birthday" id="dogBirthday" name="dogBirthday" value="<% if(birthday === null){ %> Birthday <% } else{ %><%= new Intl.DateTimeFormat('en-CA').format(birthday) %><% }%>" disabled></p>
														
														<div class="text-right">
															<a href="/editUserData1" class="boxed-btn">แก้ไข</a>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- ข้อมูลผู้ใช้ ปิด-->

								<!-- ข้อมูลยืนยันผู้ใช้ เปิด-->
								<% if(levelS != 1) { %>
									<% if(rowsVerified.length >= 1) { %>
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<div class="card single-accordion">
												<div class="card-header" id="headingTwo">
												<h5 class="mb-0">
													<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													ข้อมูลผู้ใช้ - ยืนยันแล้ว
													</button>
												</h5>
												</div>
												<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
												<div class="card-body">
													<div class="billing-address-form">
														<form action="#">
															<label for="fname">เลขบัตรประชาชน (13หลักไม่เติม - ) :</label>
															<p><input type="text" placeholder="xxxxxxxxxxxxxx" id="typeid_card" name="id_card" minlength="13" maxlength="13" value="<%= rowsVerified[0].card_id %>" disabled></p>
															<label for="typeaddress">ที่อยู่ :</label>
															<p><textarea name="address" id="bill" cols="30" rows="10" placeholder="Address" disabled><%= rowsVerified[0].address %></textarea></p>
															<label for="fname">เบอร์โทรศัพท์ :</label>
															<p><input type="tel" placeholder="tel." id="typetel" name="tel" value="<%= rowsVerified[0].tel %>" disabled></p>
															<label for="fname">FaceBook :</label>
															<p><input type="text" placeholder="FaceBook" id="typefacebook" name="facebook" value="<%= rowsVerified[0].facebook %>" disabled></p>
															<label for="fname">Line :</label>
															<p><input type="text" placeholder="Line" id="typeline" name="line" value="<%= rowsVerified[0].line %>" disabled></p>
			
															<div class="text-right">
																<a href="/editUserVerified" class="boxed-btn">แก้ไข</a>
															</div>
														</form>
													</div>
												</div>
												</div>
										</div>
								</div>
									<% } %>
								<% } %>
								<!-- ข้อมูลยืนยันผู้ใช้ ปิด-->

								<!-- ข้อมูลสุนัข เปิด-->
								<% if(levelS >= 2) { %>
								<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
									<div class="card single-accordion">
										<div class="card-header" id="headingThree">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												ข้อมูลสุนัข
												</button>
											</h5>
										</div>
										<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
											<div class="card-body">
												<div class="card-details">
													<% if(!rowsDog.length) { %>
														<p>ยังไม่มีข้อมูลสุนัข</p>
														<div class="text-center">
															<a href="/dogAdd" class="boxed-btn">เพิ่มเลย!</a>
														</div>
													<% } else {%>	
														<div class="billing-address-form">
															<form action="#">
																<div class="client-avater text-center">
																	<img src="../img/<%= rowsDog[0].dog_img %>" alt="" width="140" height="140">
																	<div class="client-meta">
																		<a href="editDogProfile">
																			<h3><span>เปลี่ยนรูปสุนัข</span></h3>
																		</a>
																	</div>
																</div>
																
																<label for="dogName">ชื่อสุนัข :</label>
																<p><input type="text" placeholder="Dog Name" id="dogName" name="dogName" value="<%= rowsDog[0].dog_name %>" disabled></p>
																<label for="dogBreed">พันธุ์ของสุนัข :</label>
																<p><input type="text" placeholder="Dog breed" id="dogBreed" name="dogBreed" value="<%= rowsDog[0].dog_breed %>" disabled></p>
																<label for="dogBirthday">วันเกิด :</label>
																<p><input type="date" placeholder="Birthday" id="dogBirthday" name="dogBirthday" value="<%= new Intl.DateTimeFormat('en-CA').format(rowsDog[0].dog_birthday) %>" disabled></p>
																<label for="dogGender">เพศ :</label>
																<p><input type="text" placeholder="Dog gender" id="dogGender" name="dogGender" value="<%= rowsDog[0].name %>" disabled></p>
																<label for="dogIntroduce">แนะนำตัวสุนัข :</label>
																<p><textarea name="dogIntroduce" id="dogIntroduce" cols="30" rows="10" placeholder="dogIntroduce" disabled><%= rowsDog[0].dog_introduce %></textarea></p>

																<div class="text-right">
																	<a href="/editDogData" class="boxed-btn">แก้ไข</a>
																</div>
															</form>
														</div>
													<% } %>	
												</div>
											</div>
										</div>
								  </div>
								</div>
								<% } %>
								<!-- ข้อมูลสุนัข ปิด-->

								<!-- ข้อมูลร้านค้า เปิด-->
								<% if(levelS >= 2) { %>
								<div class="tab-pane fade" id="shop" role="tabpanel" aria-labelledby="shop-tab">
									<div class="card single-accordion">
										<div class="card-header" id="headingThree">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												ข้อมูลร้านค้า
												</button>
											</h5>
										</div>
										<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
											<div class="card-body">
												<div class="card-details">
													<% if(!rowsShop.length) { %>
														<p>ยังไม่มีข้อมูลร้านค้า</p>
														<div class="text-center">
															<a href="#" class="boxed-btn">เพิ่มเลย!</a>
														</div>
													<% } else {%>	
														<p>ข้อมูลร้านค้า</p>
													<% } %>	
												</div>
											</div>
										</div>
								  </div>
								</div>
								<% } %>
								<!-- ข้อมูลร้านค้า ปิด-->

								<!-- ข้อมูลสัตวแพทย์ เปิด-->
								<% if(levelS >= 3) { %>
									<% if(rowsVets.length >= 1) { %>
								<div class="tab-pane fade" id="vets" role="tabpanel" aria-labelledby="vets-tab">
									<div class="card single-accordion">
										<div class="card-header" id="headingThree">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												ข้อมูลสัตวแพทย์
												</button>
											</h5>
										</div>
										<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
											<div class="card-body">
												<div class="card-details">
													<p>สัตวแพทย์</p>
												</div>
											</div>
										</div>
								  </div>
								</div>
									<% } %>
								<% } %>
								<!-- ข้อมูลสัตวแพทย์ ปิด-->

							  </div>

							

						

						  
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
								</tr>
								<tr>
									<td>Strawberry</td>
									<td>$85.00</td>
								</tr>
								<tr>
									<td>Berry</td>
									<td>$70.00</td>
								</tr>
								<tr>
									<td>Lemon</td>
									<td>$35.00</td>
								</tr>
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>$190</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>$50</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>$240</td>
								</tr>
							</tbody>
						</table>
						<!-- <a href="#" class="boxed-btn">Place Order</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->


  <%- include('partials/footers') -%>
	
</body>
</html>